# Secrets
.env
.streamlit/secrets.toml
secrets.toml
.env.active

# Local data & generated artifacts
data/
inputs/
outputs/
charts/
vector_store/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs / DB
*.log
*.db
.env.active
