streamlit
openai
langchain
langchain-community
langchain-chroma
langchain-huggingface
langchain-openai
python-dotenv
pandas
numpy
pdfplumber
pymupdf
pypdf
pytesseract
camelot-py[cv]
pillow
scikit-learn
tiktoken
sentence-transformers
transformers
