streamlit
openai
langchain
langchain-community
langchain-core
langchain-openai
langchain-huggingface
langchain-text-splitters
sentence-transformers
chromadb
tiktoken
pandas
scikit-learn
PyMuPDF
pytesseract
docx2txt
pdfplumber
numpy
requests
regex
tqdm
python-dotenv>=1.0.0
grpcio>=1.63.2
# force rebuild
